{% extends "base.html" %}
{% from "_macros.html" import job_tabs %}
{% set page_title = "Jobs" %}{% set active_nav = "jobs" %}
{% block actions %}
{{ job_tabs(status, active_count, failed_count) }}
{% endblock %}
{% block content %}
<div class="card card-scroll">
  <table class="table">
    <thead>
      <tr>
        <th class="col-sm">#</th><th>Asset</th><th class="col-sm">Kind</th><th>Status</th><th class="col-xl">Range (UTC)</th><th class="num col-2xl">Requests</th>
        <th class="num col-lg">Candles added</th><th class="col-lg">Run time</th><th class="col-2xl">Created</th><th class="col-xs">Finished</th><th><span class="sr-only">Actions</span></th>
      </tr>
    </thead>
    {% include "_jobs_tbody.html" %}
  </table>
</div>
<p class="muted small">Times are UTC. Finished jobs are kept for 30 days.</p>
{% endblock %}
